
<html>
  <head>
    <script src="/scripts/background.js"></script>
    <script src="/scripts/jquery.js"></script>
    <script src="/scripts/add_shortcut.js"></script>
    <link rel="stylesheet" type="text/css" href="style/base.css">
    <link rel="stylesheet" type="text/css" href="style/add_shortcut.css">
  </head>
  <title>GoTool: Add</title>

  <h1 id='pageTitle'>ADD SHORTCUT</h1>
  <div id='inputBox' class='horizontalCenter'>
    <input type="text" id="form_title" placeholder="TITLE">
    <input type="text" id="form_url" placeholder="FULL URL">
  </div>
  <br />
  <input type="submit" value="Add and Go!" id="submit_form_button" class="horizontalCenter">
</html>
